# NUMBER OF CHANCE CARDS
30
# PATH OF EACH CHANCE CARD
src/res/Chance Cards
/chance1.png
/chance2.png
/chance3.png
/chance4.png
/chance5.png
/chance6.png
/chance7.png
/chance8.png
/chance9.png
/chance10.png
/chance11.png
/chance12.png
/chance13.png
/chance14.png
/chance15.png
/chance16.png
/chance17.png
/chance18.png
/chance19.png
/chance20.png
/chance21.png
/chance22.png
/chance23.png
/chance24.png
/chance25.png
/chance26.png
/chance27.png
/chance28.png
/chance29.png
/chance30.png
		
# NUMBER OF COMPANY CARDS
6
# PATH OF EACH COMPANY CARD
src/res/Companies Cards
/company1.png
/company2.png
/company3.png
/company4.png
/company5.png
/company6.png
		
# NUMBER OF TERRAIN CARDS
22
# PATH OF EACH TERRAIN CARD
src/res/Terrain Cards
/Av. 9 de Julho.png
/Av. Atlântica.png
/Av. Brasil.png
/Av. Brigadeiro Faria Lima.png
/Av. Europa.png
/Av. Nossa S. de Copacabana.png
/Av. Pacaembú.png
/Av. Paulista.png
/Av. Presidente Vargas.png
/Av. Rebouças.png
/Av. Vieira Souto.png
/Botafogo.png
/Brooklin.png
/Copacabana.png
/Flamengo.png
/Interlagos.png
/Ipanema.png
/Jardim Europa.png
/Jardim Paulista.png
/Leblon.png
/Morumbi.png
/Rua Augusta.png
		
# NUMBER OF PINS
6
# PATH OF EACH PIN
src/res
/black_pin.png
/blue_pin.png
/orange_pin.png
/purple_pin.png
/red_pin.png
/yellow_pin.png


